* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardiut {
    margin-top: 100px;
    position: relative;
    width: 350px;
    height: 190px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 25px black;
    transition: .5s;
    margin-inline: auto;
}
 
#informatique {
    float: left;
}

.cardiut:hover {
    height: 500px;
}

.imgBox {
    position: absolute;
    left: 50%;
    top: -35%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 15px 50px black;
    overflow: hidden;
    transition: .5s;
}

.cardiut:hover .imgBox {
    top: -15%;
    width: 250px;
    height: 250px;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardiut .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.cardiut .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: .5px;
    transform: translateY(140px);
}

.cardiut:hover .content .details {
    transform: translateY(0);
}

.cardiut .content .details h2 {
    font-size: 1.25em;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}

.cardiut .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: .5;
}

.cardiut .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.cardiut .content .details .data h3 {
    font-size: 1em;
    color: #555;
    line-height: 0.8em;
    font-weight: 600;
}

.cardiut .content .details .data h3 span {
    font-size: 0.58em;
    font-weight: 400;
    opacity: .5;

}

.cardiut .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
}

.cardiut .content .details .actionBtn a {
    color: white;
    text-decoration: none;
}

.cardiut .content .details .actionBtn button {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ff5f96;
    color: #ffff;
    cursor: pointer;
}

#btninfo {
    background: #0066cc;
}

.cardiut .content .details .actionBtn button:nth-child(2) {
    border: 1px solid #999;
    color: #999;
    background: #fff;
}
