table{
    border-collapse: collapse;
}

td{
    border : 1px solid black;
    padding: 10px 15px;
}

.impair{
    background-color : rgb(253, 223, 223);

}

.pair{
    background-color : rgb(250, 244, 244);
}


#def{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    text-align: justify;
    margin-right: 5%;
    color: rgb(29, 26, 26);
    font-size: 30px;  
    color: rgb(94, 72, 72);
    font-size: 20px;
}

